* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 12px;
  --theme-bc: #C1C8E4;
  --theme-purple: #8860D0;
  --theme-bluedark: #5680E9;
  --theme-bluemed: #5AB9EA;
  --theme-bluelight: #84CEEB;
}

.App {
  height: 100vh;
  background-color: var(--theme-bc);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading h1 {
  color: var(--theme-bluedark);
  font-size: 3rem;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.header h1 {
  font-size: 3.5rem;
  color: var(--theme-bluedark)
}

.slash {
  height: 3px;
  width: 200px;
  margin-top: 10px;
  background-color: var(--theme-bluedark);
}

.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.img-container {
  display: flex;
  justify-content: center;
}

.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-position: center center;
}

.profile-name {
  margin: 20px 0 3px;
  text-align: center;
  color: var(--theme-bluedark);
}

.profile-job {
  text-align: center;
  color: var(--theme-bluelight)
}

.profile-review {
  height: 70px;
  margin-top: 20px;
  text-align: center;
  color: var(--theme-bluemed)
}

.manufer {
  display: flex;
  justify-content: center;
  margin: 0 0 10px;
}

.arrow {
  margin: 0 10px;
  font-size: 2rem;
  color: var(--theme-purple);
  cursor: pointer;
}

.arrow:hover {
  color: #333;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--theme-bluelight);
  cursor: pointer;
}

.button:hover {
  color: var(--theme-bluelight);
  background-color: #333;
}

@media screen and (min-width: 769px) {
  :root {
    font-size: 15px;
  }

  .main {
    width: 50%;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .profile-review {
    height: 100px;
  }

  .arrow {
    margin: 0 15px;
  }

  .button {
    padding: 7px 50px;
    border-radius: 20px;
  }

}