* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 50%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-position: center center;
}